<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <meta name="theme-color" content="#000">

    <title>Grafana</title>

		<link href='[[.AppSubUrl]]/public/css/fonts.min.css' rel='stylesheet' type='text/css'>

		[[if .User.LightTheme]]
		  <link rel="stylesheet" href="[[.AppSubUrl]]/public/css/grafana.light.min.css">
		[[else]]
		  <link rel="stylesheet" href="[[.AppSubUrl]]/public/css/grafana.darkix.min.css">

		[[end]]

    <link rel="icon" type="image/png" href="[[.AppSubUrl]]/public/img/fav32.png">
		<base href="[[.AppSubUrl]]/" />

	</head>

	<body ng-cloak>
		<grafana-app class="grafana-app">

			<aside class="sidemenu-wrapper">
				<sidemenu ng-if="contextSrv.sidemenu"></sidemenu>
			</aside>

			<div class="page-alert-list">
				<div ng-repeat='alert in dashAlerts.list' class="alert-{{alert.severity}} alert">
					<button type="button" class="alert-close" ng-click="dashAlerts.clear(alert)">
						<i class="fa fa-times-circle"></i>
					</button>
					<div class="alert-title">{{alert.title}}</div>
					<div ng-bind='alert.text'></div>
				</div>
			</div>

			<div ng-view class="main-view"></div>
			<footer class="footer">
				<div class="row text-center">
					<ul>
						<li>
							<a href="http://docs.grafana.org" target="_blank">
								<i class="fa fa-file-code-o"></i>
								Docs
							</a>
						</li>
						<li>
							<a href="https://grafana.net/support/plans" target="_blank">
								<i class="fa fa-support"></i>
								Support Plans
							</a>
						</li>
						<li>
							<a href="https://grafana.org/community" target="_blank">
								<i class="fa fa-comments-o"></i>
								Community
							</a>
						</li>
						<li>
							<a href="http://grafana.org" target="_blank">Grafana</a>
							<span>v[[.BuildVersion]] (commit: [[.BuildCommit]])</span>
						</li>
						<li>
							[[if .NewGrafanaVersionExists]]
								<a href="http://grafana.org/download" target="_blank" bs-tooltip="'[[.NewGrafanaVersion]]'">
									New version available!
								</a>
							[[end]]
						</li>
					</ul>
				</div>
			</footer>
		</grafana-app>
  </body>

	<script>
		window.grafanaBootData = {
			user:[[.User]],
			settings: [[.Settings]],
			mainNavLinks: [[.MainNavLinks]]
		};
	</script>

	<!-- build:js [[.AppSubUrl]]/public/app/boot.js -->
	<script src="[[.AppSubUrl]]/public/vendor/npm/es6-shim/es6-shim.js"></script>
	<script src="[[.AppSubUrl]]/public/vendor/npm/systemjs/dist/system.src.js"></script>
	<script src="[[.AppSubUrl]]/public/app/system.conf.js"></script>
	<script src="[[.AppSubUrl]]/public/app/boot.js"></script>
	<!-- endbuild -->

	[[if .GoogleAnalyticsId]]
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', '[[.GoogleAnalyticsId]]', 'auto');
		ga('send', 'pageview');
		</script>
	[[end]]

	[[if .GoogleTagManagerId]]
		<script>
			dataLayer = [{
				'IsSignedIn': '[[.User.IsSignedIn]]',
				'Email': '[[.User.Email]]',
				'Name': '[[.User.Name]]',
				'UserId': '[[.User.Id]]',
				'OrgId': '[[.User.OrgId]]',
				'OrgName': '[[.User.OrgName]]',
			}];
		</script>
		<!-- Google Tag Manager -->
		<noscript><iframe src="//www.googletagmanager.com/ns.html?id=[[.GoogleTagManagerId]]" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','[[.GoogleTagManagerId]]');</script>
		<!-- End Google Tag Manager -->
	[[end]]
</html>
