/********************

$Mixins & Variables

********************/
$brand-primary: rgba(43, 156, 216, 1);
$brand-gradient: linear-gradient(to right, rgba(43, 156, 216, 1) 0%, rgba(43, 156, 216, 0.1) 99%, rgba(43, 156, 216, 0) 100%);

@mixin left-brand-border-gradient() {
  border-image: linear-gradient(rgba(43, 156, 216, 1) 0%, rgba(43, 156, 216, 0.5) 99%, rgba(43, 156, 216, 0.49) 100%);
  border-image-slice: 1;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 4px solid transparent;
}

/********************

$Font Lato

********************/

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Light.woff2') format('woff2'), url(../fonts/Lato-Light.woff) format('woff');
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.woff2') format('woff2'), url(../fonts/Lato-Regular.woff) format('woff');
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

/********************

$Icons

********************/

@font-face {
    font-family: 'freenas';
    src:
        url('../fonts/freenas.ttf') format('truetype'),
        url('../fonts/freenas.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

[class^="sharedIcon"], [class*=" sharedIcon"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'freenas' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sharedIcon-arrow:before {
    content: "\e900";
}
.sharedIcon-gridview:before {
    content: "\e901";
}
.sharedIcon-list-view:before {
    content: "\e902";
}
.sharedIcon-magnifyingGlass:before {
    content: "\e903";
}
.sharedIcon-plus:before {
    content: "\e904";
}
.sharedIcon-table-view:before {
    content: "\e905";
}
.sharedIcon-info:before {
    content: "\69";
}
.sharedIcon-checkmark:before {
    content: "\63";
}
.sharedIcon-triangle-down:before {
    content: "\76";
}
.sharedIcon-preferences:before {
    content: "\67";
}

[class*='btn'].montage--disabled {
    background: #666;
    box-shadow: none;
    text-shadow: none;
}

/********************

$Makeover

********************/

body {
    font-family: 'Lato', 'helvetica neue', 'helvetica', 'sans-serif';
    font-weight: 300;
  	background-color: #15171B;
  	background-size: cover, 310px 310px;
  	background-image: radial-gradient( circle farthest-corner at center -5%, rgba(255, 255, 255, .1), rgba(0, 0, 0, .05) ), url(../img/bg.png);
  	min-height: 100%;
    background-attachment:fixed;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Lato', 'helvetica neue', 'helvetica', 'sans-serif';
  color: rgb(146, 158, 159);
  text-shadow: rgba(0, 0, 0, 0.2) 0px 1px;
  }

.dashboard-container {
  	background-color: #15171B;
  	background-size: cover, 310px 310px;
  	background-image: radial-gradient( circle farthest-corner at center -5%, rgba(255, 255, 255, .1), rgba(0, 0, 0, .05) ), url(../img/bg.png);
}

.navbar-inner {
    border-bottom: 2px solid #0F1213;
    background-color: rgba(43, 156, 216, 1);
    background-size: 310px 195px;
    background-image: url(../img/bg.png);
}

.navbar-page-btn,
.navbar-brand-btn {
	background-color: transparent;
}

.panel-title {
	font-weight: 400;
	padding: 1em;
    line-height: 1em;
    background: #404040;
    color: #E0E5E5;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align: left;
    margin-top: -4px;
    font-size: 115%;
    margin-bottom: 1em;
}


.btn {
    box-sizing: border-box;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: .75em;
    line-height: 2.9;
    font-weight: 300;
    min-width: 7em;
    padding: 0 1.8em;
    text-align: center;
    color: white;
    border-radius: .3em;
    border: 0;
    margin: 0;
    cursor: pointer;
    -webkit-appearance: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
    background-image: linear-gradient(transparent, rgba(0,0,0,.2));
    box-shadow:
        inset 0 1px rgba(255, 255, 255, .15),
        inset 0 -1px rgba(0, 0, 0, .2),
        0 1px 2px rgba(0, 0, 0, .4);
}

.btn:hover  {
    background-image: linear-gradient(transparent, transparent);
    outline: none;
    box-shadow:
        inset 0 1px rgba(255, 255, 255, .15),
        inset 0 -1px rgba(0, 0, 0, .3),
        0 2px 6px 1px rgba(0, 0, 0, .4);
}

.btn:active {
    background-image: linear-gradient(rgba(0,0,0,.2), transparent);
    box-shadow:
        inset 0 -1px rgba(255, 255, 255, .1),
        inset 0 1px rgba(0, 0, 0, .3);
    outline: none;
    text-shadow: none;
}

.btn:focus {
    outline: 0;
}

.btn-secondary {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: $brand-blue;
    background-image: linear-gradient(transparent, rgba(0,0,0,.2));
    background-repeat: repeat-x;
    border-color: #005f81;
}
.panel-container {
	border-radius: 4px;
    background: rgba(33, 33, 33, .7);
    border: 0px none transparent;
}

.row-tab-button {
    background: $brand-blue;
}

div.tooltip-inner {
    background: $brand-blue;
    color: $white;
    font-size: 120%;
}
div.tooltip-arrow {
   border-bottom-color: $brand-blue !important;
}

.sidemenu > li.active, .sidemenu > li:hover {
    background-color: rgba(43, 156, 216, 0.1);
    @include left-brand-border-gradient();
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    background-color: rgba(43, 156, 216, 0.1);
}

.panel-margin {
    margin: 0.5em;
}

.navbar-brand-btn img {
    content: url(../img/trueview_icon.svg);
}

img.logo-icon {
    content: url(../img/trueview_icon.svg);
    margin-bottom: 20px;
}

.icon-gf-grafana_wordmark:before {
    content: "\TrueView Grafana";
    font-family: lato;
}

.login-box-logo img {
    width: 12rem;
}

@media (min-width: 768px) {
    .login-box-logo img {
        width: 200px;
    }
}

.page-container,
.tabbed-view {
    background-image: none;
    background-color: transparent;
}

.footer {
    color: #929E9F;
}

.footer a {
    color: rgba(255,255,255,.75);
}

.footer a:hover {
    color: rgba(255,255,255,.95);
}

.sidemenu-pinned .sidemenu-wrapper {
    position: absolute;
    top: 52px;
    left: 0;
    width: 14rem;
    z-index: 101;
    border-right: 2px solid #0F1213;
    background-color: #2b9cd8;
    background-size: 310px 195px;
    background-image: url(../img/bg.png);
}

.sidemenu-pinned .navbar-brand-btn {
    background-color: transparent;
}