.dashlist-section-header {
  margin-bottom: $spacer;
  color: $text-color-weak;
}

.dashlist-section {
  margin-bottom: $spacer;
}

.dashlist-link {
  display: block;
  margin: 5px;
  padding: 7px;
  background-color: $tight-form-bg;
  .fa {
    float: right;
    padding-top: 3px;
  }
  .fa-star {
    color: $orange;
  }

  &:hover {
    background-color: $tight-form-func-bg;
  }
}
