.nav-tabs-alt {
	& > li > a {
	  color: darken($link-color, 20%);
	}

	li > a:hover {
    border-bottom: none;
	}

	li.active > a,
	li.active > a:focus,
	li.active > a:hover {
    @include border-radius(3px);
	  border: 1px solid $divider-border-color;
	  background-color: transparent;
	  border-bottom: 1px solid $page-bg;
	  color: $link-color;
	}

	li.disabled > a {
		color: $text-color;
	}

	.open .dropdown-toggle {
		background-color: #060606;
		border-color: transparent;
	}

  .tab-content {
    padding: 10px;
    background-color: $panel-bg;
  }
}

.gf-tabs {
  @include clearfix();
  float: left;
  margin: $tabs-top-margin 0 0 0;
}

.gf-tabs-item {
  float: left;
  list-style: none;
}

.gf-tabs-link {
  padding: $tabs-padding-top $spacer $tabs-padding-bottom $spacer;
  margin-right: $spacer/2;
  border: 1px solid transparent;
  position: relative;
  display: block;

  @include border-radius(2px 2px 0 0);

  &:hover,
  &:focus {
    color: $link-hover-color;
  }

  &.active,
  &.active:hover,
  &.active:focus {
    @include border-radius(3px);
    border-color: rgba(216, 131, 40, 0.77);
    border-bottom: 2px solid $panel-bg;
    color: $link-color;
    position: relative;
    top: 2px;
  }
}
