.bootstrap-tagsinput {
  display: inline-block;
  padding: 0 0 0 6px;
  vertical-align: middle;
  max-width: 100%;
  line-height: 22px;
  background-color: $input-bg;

  input {
    border: none;
    border-right: 1px solid $tight-form-border;
    margin: 0px;
    border-radius: 0;
    padding: 8px 6px;
    height: 100%;
    width: 5rem;
    box-sizing: border-box;
  }

  .tag {
    margin-right: 2px;
    color: white;

    [data-role="remove"] {
      margin-left:8px;
      cursor:pointer;
      &:after{
        content: "x";
        padding:0px 2px;
      }
      &:hover {
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        &:active {
          box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
        }
      }
    }
  }
}
