.nav.gf-timepicker-nav {
  margin-right: 0;
}

.timepicker-timestring {
  font-weight: normal;
}

.gf-timepicker-nav-btn {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.gf-timepicker-dropdown {
  margin: -8px -10px 10px 5px;
  padding: 10px 20px;
  float: right;
  background-color: $panel-bg;
  @include box-shadow($navbarDropdownShadow);
}

.gf-timepicker-absolute-section {
  width: 290px;
  float: left;
  border-right: 1px solid $divider-border-color;
  padding: 0 10px;
  select {
    width: 183px;
    margin-bottom: 0;
  }
}

.gf-timepicker-btn-apply {
  margin: 0 0 0 15px;
}

.gf-timepicker-utc {
  background-color: $tight-form-func-bg;
  color: $orange;
  font-size: 75%;
  padding: 3px;
  border-radius: 2px;
  font-weight: bold;
  margin-left: 4px;
}

.gf-timepicker-relative-section {
  padding: 0 20px 0 30px;
  min-height: 237px;
  float: left;
  ul {
    list-style: none;
    float: left;
    margin: 0 30px 10px 0px;
    li {
      line-height: 22px;
    }
    li.active {
      border-bottom: 1px solid $blue;
      margin: 3px 0;
      font-weight: bold;
    }
  }
}

.gf-timepicker-component {
  margin-bottom: 10px;
  td {
    padding: 1px;
  }
  button.btn-sm {
    @include buttonBackground($btn-inverse-bg, $btn-inverse-bg-hl);
    background-image: none;
    border: none;
    padding: 6px 10px;
    color: $text-color;
    &.active span {
      color: $blue;
      font-weight: bold;
    }
    .text-info {
      color: $orange;
      font-weight: bold;
    }
  }
}

.input-datetime-format {
  color: $link-color-disabled
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-chevron-left:before {
  content: "\f053";
}
.fa-chevron-right:before {
  content: "\f054";
}

.glyphicon-chevron-right {
  @extend .fa;
  @extend .fa-chevron-right;
}

.glyphicon-chevron-left {
  @extend .fa;
  @extend .fa-chevron-left;
}

.gf-timepicker-time-control {
  font-size: $font-size-sm;
  a {
    padding: 18px 7px 13px !important;
  }
}

.dashnav-move-timeframe  {
  position: relative;
  top: 1px;
}
